<footer class="w-full py-12 border-t border-[#ffffff10]">
  <div class="max-w-5xl mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 lg:gap-10">
      <div class="flex flex-col lg:items-start items-center space-y-6 gap-9">
       <img width="75%" src="png/BSG-logo-reverse.png"/>
      </div>

      <div class="flex flex-col items-center space-y-6">
  <img height="50%" src="png/10.png"/>
      </div>

      <div class="flex flex-col items-center lg:items-start space-y-6">
        <div class="w-full max-w-xs">
          <iframe
            style="border-radius:12px; border:0;"
            src="https://open.spotify.com/embed/show/0FGuvEggg8QXS79M3BYfj5?utm_source=generator&theme=0&locale=en_US"
            class="w-full h-40"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy"></iframe>
        </div>
      </div>
    </div>

    <div class="mt-12 pt-8 border-t border-[#ffffff10]">
      <p class="text-center text-sm text-[var(--white-icon)] space-y-2">
        <!-- If you are using this template, by MIT License you can't remove the copyright notice -->
        <span class="block sm:inline"
          >2015-2025 Integration Required, LLC, Template Copyright © 2025 <a href="https://github.com/Gothsec"
            >Oscar Hernandez</a
          >. All rights reserved.</span
        >
      </p>
    </div>
  </div>
</footer>