<nav class="navbar navbar-expand-lg @@classList">
  <div class="@@if(type=='boxed'){container}@@if(type!=='boxed'){container-fluid}">

    <!-- Brand -->
    <a href="#a" class="navbar-brand">
      <img src="@@webRoot/assets/img/intreqd.png" class="navbar-brand-img" alt="...">
    </a>

    <!-- Button -->
    

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ml-auto">
        
          <a class="nav-link dropdown-toggle navbar-btn btn btn-sm btn-primary-desat lift ml-auto text-white" data-toggle="dropdown" target="_blank" aria-haspopup="true" aria-expanded="false" href="#a">
            Contact
          </a>
          
          
          </a>
          
                </div>


              </a>
            </div>
          </div>
        </li>
      </ul>

    </div>

  </div>
</nav>
