---
import Container from "@components/elements/Container.astro";
import Sectionhead from "@components/elements/Sectionhead.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="404 Not Found">
  <Container class="py-12 sm:py-16 lg:py-24">
    <Sectionhead align="center" eyebrow="Not found">
      <Fragment slot="title">404</Fragment>
      <Fragment slot="desc">The page you requested could not be found.</Fragment>
    </Sectionhead>

    <div class="mt-10 flex justify-center">
      <a href="/" class="btn btn-primary">Back to home</a>
    </div>
  </Container>
</Layout>
