---
import { featureFlags, siteConfig } from 'site-config';
import Mindstorm from './elements/Mindstorm.astro';
---

<footer class="mt-5 mb-20">
  <p class="text-center text-sm text-base-content/60">
    {featureFlags.enableImprint &&
      <a class="hover:underline hover:text-primary-light" href="/imprint">Imprint</a>
    }
    {featureFlags.enableDataprotection &&
      <a class="hover:underline hover:text-primary-light" href="/dataprotection">Data Protection</a>
    }
    <span class="block sm:inline"> © 2015-{new Date().getFullYear()} {siteConfig.footerText}</span>
  </p>
  {featureFlags.showAttribution && <Mindstorm />}
</footer>
